python-dotenv
jupyter
ipykernel

# Vertex AI Gemini
google-genai

# topic 1
google-cloud-storage

# topic 2
google-cloud-firestore

# topic 3
cloud-sql-python-connector[pg8000]
sqlalchemy

# topic 4
redis

# topic 5
google-cloud-bigquery
